body{
    background-image: url(C:/Users/HP/Documents/SEED/seed/new/1.jpg); 
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover ;
}
 .lol{
    padding-top: 15%
 }

 .earth{
    
    background-image: url(C:/Users/HP/Documents/SEED/seed/new/7.jpg); 
    margin: auto;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    animation: rotate 25s linear alternate infinite;
    box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
 }
  @keyframes rotate{
      100%{background-position: 100%}
  } 